<script type="text/template" id="tweets-list-template">
    <section id="tweets">
        {% _.each(tweets, function(tweet) { %}
            <div class="tweet">
                {% if (typeof tweet.avatarUrl !== 'undefined') { %}
                    <img src="{{ tweet.avatarUrl }}"/>
                {% } %}
                {% if (typeof tweet.user !== 'undefined') { %}
                    <h5>{{ tweet.user }}</h5>
                {% } %}
                {% if (typeof tweet.tweet !== 'undefined') { %}
                    <p>{{ tweet.tweet }}</p>
                {% } %}
                {% if (typeof tweet.postedAt !== 'undefined') { %}
                    <span class="date">{{ dateFormat(tweet.postedAt, 'yyyy-mm-dd') }}</span>
                {% } %}
            </div>
        {% }); %}
    </section>
</script>
