<script type="text/template" id="talks-list-template">
    <section id="talks">
        <table class="common-table">
            <tbody>
                {% _.each(days, function(talks, day) { %}
                    <tr>
                        <td class="date" colspan="4">{{ day }}</td>
                    </tr>
                    {% _.each(talks, function(talk, num) { %}
                        <tr>
                            <td class="time">
                                {% if (typeof talk.startsAt != 'undefined' ) { %}
                                    {{ dateFormat(talk.startsAt, 'h:MM') }}
                                {% } else { %}
                                    x:xx
                                {% } %}
                            </td>
                            <td class="name">
                                <h5>
                                    <a href="#events/{{ talk.eventId }}/talks/{{ num }}">
                                        {% if (typeof talk.name !== 'undefined') { %}
                                            {{ talk.name }}
                                        {% } else { %}
                                            Noname
                                        {% } %}
                                    </a>
                                    {% if (typeof talk.hash !== 'undefined') { %}
                                        <small>{{ talk.hash }}</small>
                                    {% } %}
                                </h5>
                            </td>
                            <td class="author">
                                {% if (typeof talk.speakers !== 'undefined') { %}
                                    {% _.each(talk.speakers, function(speaker) { %}
                                        <a href="https://twitter.com/{{ speaker }}">
                                            @{{ speaker }}
                                        </a>
                                    {% }); %}
                                {% } else { %}
                                    anonymous
                                {% } %}
                            </td>
                            <td class="tweets">
                                {% if (typeof talk.tweets !== 'undefined') { %}
                                    {{ talk.tweets.length }}
                                {% } else { %}
                                    0
                                {% } %}
                            </td>
                        </tr>
                    {% }); %}
                {% }); %}
            </tbody>
        </table>
    </section>
</script>

<script type="text/template" id="talk-template">
    <div id="event-show" class="row">
        <section class="span16 columns item">
            <article>
                <header class="map">
                    <span class="time">
                        {% if (typeof startsAt !== 'undefined') { %}
                            {{ dateFormat(startsAt, 'd mmmm') }}<br/>
                            <i>{{ dateFormat(startsAt, 'h:MM') }}</i>
                        {% } else { %}
                            anytime
                        {% } %}
                    </span>
                    {% if (typeof event.location != 'undefined') { %}
                        <img width="300" height="300" src="http://maps.google.com/maps/api/staticmap?center={{ event.location }}&zoom=13&size=300x300&sensor=false" />
                    {% } else { %}
                        <img width="300" height="300" src="http://maps.google.com/maps/api/staticmap?center=Unknown&zoom=13&size=300x300&sensor=false" />
                    {% } %}
                </header>
                <section>
                    <h1>
                        {% if (typeof name != 'undefined') { %}
                            {{ name }}
                        {% } else { %}
                            Noname
                        {% } %}
                        {% if (typeof hash != 'undefined') { %}
                            <small>{{ hash }}</small>
                        {% } %}
                    </h1>
                    <h3>
                        <a href="#events/{{ event._id }}">
                            {% if (typeof event.name != 'undefined') { %}
                                {{ event.name }}
                            {% } else { %}
                                Noname
                            {% } %}
                        </a>
                        {% if (typeof event.hash != 'undefined') { %}
                            <small>{{ event.hash }}</small>
                        {% } %}
                    </h3>
                    <ul class="infobar">
                        {% if (typeof event.location != 'undefined') { %}
                            <li class="place">
                                {{ event.location }}
                            </li>
                        {% } %}
                        {% if (typeof speakers != 'undefined') { %}
                            <li class="author">
                                {% _.each(speakers, function(speaker) { %}
                                    <a href="https://twitter.com/{{ speaker }}">
                                        @{{ speaker }}
                                    </a>
                                {% }); %}
                            </li>
                        {% } %}
                    </ul>

                    <hr />

                    <p>
                        {% if (typeof description != 'undefined') { %}
                            {{ description }}
                        {% } else { %}
                            No description provided
                        {% } %}
                    </p>

                    <footer class="lists">
                        <ul class="tabs">
                            <li class="tweets"><a href="javascript:void(0)">Tweets</a></li>
                        </ul>

                        <div class="talk-footer-content"></div>

                    </footer>
                </section>
            </article>
        </section>
    </div>
</script>
