<section id="navigation">
    <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="#">Twalks</a></h3>
                    <form id="search-form" action="">
                        <span class="glass"><i></i></span>
                        <input type="text" placeholder="Search">
                    </form>
                    <ul id="global-nav">
                        <li class="all-events"><a href="#events">All events</a></li>
                        <li class="current-events"><a href="#events/current">Ongoing events</a></li>
                        <li class="upcoming-events"><a href="#events/upcoming">Upcoming events</a></li>
                    </ul>
                    <ul class="nav secondary-nav">
                        <li class="progress">
                            <span>loading...</span>
                            <img src="/images/loading.gif" />
                        </li>
                        <% if (everyauth.loggedIn) { %>
                            <li class="user menu loggedIn">
                                <a href="javascript:void(0)" class="menu">
                                    <%= everyauth.twitter.user.name %>
                                </a>
                                <ul class="menu-dropdown">
                                    <li class="new-event">
                                        <a href="#events/new">Create new event</a>
                                    </li>
                                    <li class="my-events">
                                        <a href="#events/my">My events</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Sign out</a></li>
                                </ul>
                            </li>
                        <% } else { %>
                            <li class="user twitter">
                                <a href="/auth/twitter">
                                    <strong>Sign in</strong>
                                    <em>with your Twitter account</em>
                                </a>
                            </li>
                        <% } %>

                    </ul>
                </div>
            </div><!-- /fill -->
        </div><!-- /topbar -->
    </div>
</section>

<script type="text/javascript">
    $(function(){
        $('.nav.secondary-nav a.menu').click(function(ev) {
            $(this).parent().toggleClass('open');
            ev.stopPropagation();
        });
        $('body').click(function() {
            $('.nav.secondary-nav li.menu').removeClass('open');
        });
    });
</script>
