<div id="event-show" class="row">
    <section class="span16 columns item">
        <article>
            <header class="map">
                <img src="http://maps.google.com/maps/api/staticmap?center=Manchester&markers=size:mid|color:blue|Manchester&zoom=13&size=300x300&sensor=false" />
            </header>
            <section>
                <img class="image" src="/images/ev_example.jpg" />
                <h1>
                    PHP North West 2011 <small>#phpnw11</small>
                </h1>
                <ul class="infobar">
                    <li class="time-precise">
                        2011-09-01, 19:30
                    </li>
                    <li class="place">
                        Ramada Manchester Picadilly
                    </li>
                    <li class="author">
                        <a href="#">@everzet</a>, <a href="#">@avalanche123</a>,
                        <a href="#">@jmikola</a>
                    </li>
                </ul>

                <hr />

                <p>Come to Manchester and join in this year's fabulous PHPNW conference.  Building on the success of previous years, we have a bigger schedule, a bigger venue, more great content and hopefully more fun than ever!  With speakers from across the PHP sphere and its allied technologies, there is something for everyone at this event, and always someone to talk tech to if you want to.</p>
                <p>New this year: tutorial day on Friday 7th October!</p>

                <footer class="lists">
                    <ul class="tabs">
                        <li class="active"><a href="#">Talks</a></li>
                        <li><a href="#">Tweets</a></li>
                    </ul>

                    <section id="talks">
                        <table class="common-table">
                            <tbody>
                                <tr>
                                    <td class="date" colspan="4">
                                        7 October 2011
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        <h5>
                                            <a href="#">Security</a>
                                            <small>#sec</small>
                                        </h5>
                                    </td>
                                    <td class="time">9:30</td>
                                    <td class="author">
                                        <a href="#">@arne</a>
                                    </td>
                                    <td class="tweets">
                                        23
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        <h5>
                                            <a href="#">Building a Zend Framework 2 Application</a>
                                            <small>#zf2app</small>
                                        </h5>
                                    </td>
                                    <td class="time">9:30</td>
                                    <td class="author">
                                        <a href="#">@arob</a>
                                    </td>
                                    <td class="tweets">
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        <h5>
                                            <a href="#">Maintainable Applications in PHP Using Components</a>
                                            <small>#phpcomp</small>
                                        </h5>
                                    </td>
                                    <td class="time">9:30</td>
                                    <td class="author">
                                        anonymous
                                    </td>
                                    <td class="tweets">
                                        0
                                    </td>
                                </tr>
                                <tr>
                                    <td class="date" colspan="4">
                                        8 October 2011
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        <h5>
                                            <a href="#">Maintainable Applications in PHP Using Components</a>
                                            <small>#phpcomp</small>
                                        </h5>
                                    </td>
                                    <td class="time">9:30</td>
                                    <td class="author">
                                        anonymous
                                    </td>
                                    <td class="tweets">
                                        0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section id="tweets" style="display:none">
                        <div class="tweet">
                            <img src="https://si0.twimg.com/profile_images/1281873417/ko_normal.png"/>
                            <h5>node_knockout</h5>
                            <p>
                                141 teams are still not deployed. If you're one of them, stop whatever you're doing and deploy now!
                            </p>
                            <span class="date">19.01.1988</span>
                        </div>
                        <div class="tweet">
                            <img src="https://si0.twimg.com/profile_images/1281873417/ko_normal.png"/>
                            <h5>node_knockout</h5>
                            <p>
                                141 teams are still not deployed. If you're one of them, stop whatever you're doing and deploy now!
                            </p>
                            <span class="date">19.01.1988</span>
                        </div>
                        <div class="tweet">
                            <img src="https://si0.twimg.com/profile_images/1281873417/ko_normal.png"/>
                            <h5>node_knockout</h5>
                            <p>
                                141 teams are still not deployed. If you're one of them, stop whatever you're doing and deploy now!
                            </p>
                            <span class="date">19.01.1988</span>
                        </div>
                    </section>

                </footer>
            </section>
        </article>
    </section>
</div>
