<div id="form" class="row">
    <section class="span16 columns">
        <form>
            <h1>Create an Event</h1>
            <fieldset>
                <div class="clearfix">
                    <label for="event_name">Name</label>
                    <div class="input">
                        <input type="text" size="30" name="name" id="event_name">
                    </div>
                </div>

                <div class="clearfix">
                    <label for="event_createdBy">Creator</label>
                    <div class="input">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input type="text" size="15" name="createdBy" id="event_createdBy" value="<%= everyauth.twitter.user.screen_name %>" readonly="readonly" class="medium">
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="event_location">Location</label>
                    <div class="input">
                        <input class="xlarge" id="event_location" name="location" size="30" type="text">
                    </div>
                </div>

                <div class="clearfix">
                    <label>Date Range</label>
                    <div class="input">
                        <div class="inline-inputs">
                            <input type="text" value="" class="small">
                            <input type="text" value="" class="mini">
                            to
                            <input type="text" value="" class="small">
                            <input type="text" value="" class="mini">
                            <span class="help-inline">All times are local to the location.</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="event_imageUrl">Image URL</label>
                    <div class="input">
                        <input class="xlarge" id="event_imageUrl" name="imageUrl" size="30" type="text">
                    </div>
                </div>

                <div class="clearfix">
                    <label for="event_description">Description</label>
                    <div class="input">
                        <textarea name="description" id="event_description" class="xxlarge"></textarea>
                        <span class="help-block">This may or may not support Markdown syntax.</span>
                    </div>
                </div>

                <div class="actions">
                    <button class="btn primary" type="submit">Save Changes</button>
                    <button class="btn" type="reset">Cancel</button>
                </div>
            </fieldset>
        </form>
    </section>
</div>

