<div id="intro" class="row">
    <div class="span4 columns search">
        <h4>Search for an<br/>&nbsp;&nbsp;event</h4>
    </div>
    <div class="span4 columns create">
        <h4>or Log in &amp; create<br/>&nbsp;&nbsp;a new one</h4>
    </div>
    <div class="span4 columns tweet">
        <h4>Tweet with event<br/>&nbsp;&nbsp;&amp; talk <span class="hashtag">#tags</span></h4>
    </div>
    <div class="span4 columns view">
        <h4>Observe events<br/>&nbsp;&nbsp;&amp; sessions</h4>
    </div>
</div>
