<!-- HOMEPAGE -->
<!--div id="intro" class="row">
    <div class="span4 columns search">
        <h4>Search for an<br/>&nbsp;&nbsp;event</h4>
    </div>
    <div class="span4 columns create">
        <h4>or Log in &amp; create<br/>&nbsp;&nbsp;a new one</h4>
    </div>
    <div class="span4 columns tweet">
        <h4>Tweet with event<br/>&nbsp;&nbsp;&amp; session <span class="hashtag">#tags</span></h4>
    </div>
    <div class="span4 columns view">
        <h4>Observe events<br/>&nbsp;&nbsp;&amp; sessions</h4>
    </div>
</div-->

<!-- EVENTS LIST -->
<div id="events-list" class="row">
    <section class="span16 columns list">
        <article>
            <header class="map">
                <span class="time">
                    1 September<br/>
                    <i>19:30</i>
                </span>
                <img src="http://maps.google.com/maps/api/staticmap?center=Minsk,+Belarus&zoom=13&size=150x150&sensor=false" />
            </header>
            <section>
                <h3>
                    <a href="#">Node.js knockout</a>
                </h3>
                <p>
                    You’ve got precisely 48 hours to develop your web app during the Knockout, not a minute more. The competition kicks off at 12:00am / 00:00 GMT on August 27, 2011 and ends at 12:00am / 00:00 GMT on August 29, 2011.
                </p>
                <ul class="infobar">
                    <li class="time-precise">2011-09-01, 19:30</li>
                    <li class="people">23</li>
                    <li class="tweets">120</li>
                    <li class="author">@everzet</li>
                </ul>
            </section>
        </article>
        <article>
            <header class="map">
                <span class="time">
                    15 October<br/>
                    <i>4:00</i>
                </span>
                <img src="http://maps.google.com/maps/api/staticmap?center=New+York&zoom=13&size=150x150&sensor=false" />
            </header>
            <section>
                <h3>
                    <a href="#">Node.js knockout</a>
                </h3>
                <p>
                    You’ve got precisely 48 hours to develop your web app during the Knockout, not a minute more. The competition kicks off at 12:00am / 00:00 GMT on August 27, 2011 and ends at 12:00am / 00:00 GMT on August 29, 2011.
                </p>
                <ul class="infobar">
                    <li class="time-precise">2011-09-01, 19:30</li>
                    <li class="people">23</li>
                    <li class="tweets">120</li>
                    <li class="author">@everzet</li>
                </ul>
            </section>
        </article>
    </section>
</div>
