<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <head>
        <title>Twalks</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">

        <link href="http://fonts.googleapis.com/css?family=Leckerli+One:400normal&amp;subset=all" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="/javascripts/underscore.js"></script>
        <script src="/javascripts/backbone.js"></script>
        <script src="/javascripts/date.format.js"></script>
        <script src="/javascripts/twalks.js"></script>

        <script type="text/template" id="welcome-template">
            <div id="intro" class="row">
                <div class="span4 columns search">
                    <h4>Search for an<br/>&nbsp;&nbsp;event</h4>
                </div>
                <div class="span4 columns create">
                    <h4>or <a href="#">Log in</a> &amp; <a href="#">create<br/>&nbsp;&nbsp;a new one</a></h4>
                </div>
                <div class="span4 columns tweet">
                    <h4>Tweet with event<br/>&nbsp;&nbsp;&amp; session <span class="hashtag">#tags</span></h4>
                </div>
                <div class="span4 columns view">
                    <h4>Observe events<br/>&nbsp;&nbsp;&amp; sessions</h4>
                </div>

                <div class="logo">
                    <h1>Twalks</h1>
                    <h2>Making sense from your conference tweets</h2>
                </div>
            </div>
        </script>

        <script type="text/template" id="events-list-event-template">
            <header class="map">
                <span class="time">
                    {{ dateFormat(startsAt, 'd mmmm') }}<br/>
                    <i>{{ dateFormat(startsAt, 'h:MM') }}</i>
                </span>
                <img width="150" height="150" src="http://maps.google.com/maps/api/staticmap?center={{ location }}&zoom=13&size=150x150&sensor=false" />
            </header>
            <section>
                <h3>
                    <a href="#">{{ name }}</a> <small>{{ hash }}</small>
                </h3>
                <p>{{ description }}</p>
                <ul class="infobar">
                    <li class="time-precise">{{ dateFormat(startsAt, 'yyyy-mm-dd, h:MM') }}</li>
                    <li class="people">23</li>
                    <li class="tweets">120</li>
                    <li class="author">
                        {% _.each(authors, function(author) { %}
                            <a href="https://twitter.com/{{ author }}">@{{ author }}</a>
                        {% }); %}
                    </li>
                </ul>
            </section>
        </script>

        <script type="text/template" id="events-list-template">
            <div id="events-list" class="row">
                <section class="span16 columns list">
                </section>
            </div>
        </script>

    </head>
    <body>
        <div class="container">

            <%- partial('menu') %>

            <div id="bb-content"></div>

            <script type="text/javascript">
                $(function(){
                    window.App = new Twalks();
                    Backbone.history.start();

                    $('.nav.secondary-nav a.menu').click(function(ev) {
                        $(this).parent().toggleClass('open');
                        ev.stopPropagation();
                    });
                    $('body').click(function() {
                        $('.nav.secondary-nav li.menu').removeClass('open');
                    });
                });
            </script>
        </div>
    </body>
</html>
