<div id="intro" class="row">
    <div class="span4 columns search">
        <h4>Search for an<br/>&nbsp;&nbsp;event</h4>
    </div>
    <div class="span4 columns create">
        <h4>or <a href="#">Log in</a> &amp; <a href="#">create<br/>&nbsp;&nbsp;a new one</a></h4>
    </div>
    <div class="span4 columns tweet">
        <h4>Tweet with event<br/>&nbsp;&nbsp;&amp; session <span class="hashtag">#tags</span></h4>
    </div>
    <div class="span4 columns view">
        <h4>Observe events<br/>&nbsp;&nbsp;&amp; sessions</h4>
    </div>

    <div class="logo">
        <h1>Twalks</h1>
        <h2>Making sense from your conference tweets</h2>
    </div>
</div>
