html {
    background:none;
}
body {
    background:url(../images/light-tile.gif);
    padding-top:40px;
}
#intro .logo {
    text-align:center;
    margin-top:250px;
}
#intro .logo h1 {
    font-family:Leckerli One;
    font-size:128px;
}
#intro .logo h2 {
    padding-top:15px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:18px;
}
#global-nav {
    margin-left:8px;
}
#navigation h3 {
    font-family:Leckerli One;
}
#search-form span.glass {
    display: block;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 0;
    padding: 7px 8px 5px 8px;
}
#search-form span.glass i {
    background-image: url(https://si0.twimg.com/a/1314379019/phoenix/img/sprite-icons.png);
    background-position: -224px -96px;
    width: 14px;
    height: 14px;
    display: block;
    font-size: 0;
}
#navigation li.twitter a strong {
    font-weight:bold;
    color:#fff;
}
#navigation li.twitter a em {
    font-style: normal;
    font-size: 10px;
    margin-left: 4px;
}
#intro {
    padding-top:35px;
}
#intro .columns {
    min-height:64px;
    background-color:#fff !important;
    background-position:top left;
    background-repeat:no-repeat;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
#intro .columns h4 {
    margin-top:10px;
    margin-left:64px;
    line-height:18px;
}
#intro .columns.search {
    background-image:url(../images/search.png);
    position:relative;
}
#intro .columns.search:before {
    content:'';
    display:block;
    position:absolute;
    top:-35px;
    right:15px;
    width:36px;
    height:61px;
    background:url(../images/arrow.png) no-repeat;
}
#intro .columns.create {
    background-image:url(../images/create.png);
}
#intro .columns.tweet {
    background-image:url(../images/tweet.png);
}
#intro .columns.view {
    background-image:url(../images/view.png);
}
.hashtag {
    color:#bdbdbd;
}
#events-list {
    padding-top:20px;
    padding-bottom:20px;
}
#events-list .list {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px 0px;
}
#events-list .list article {
    float:left;
    position:relative;
    padding:0px 10px;
    margin-bottom:15px;
    margin-left:70px;
}
#events-list .list article:last-child {
    border:none;
}
#events-list .list article .time {
    background:#fff;
    opacity:0.9;
    position:absolute;

    top:44px;
    left:44px;
    font-size:14px;
    color:#000;
    font-family:Nothing You Could Do;

    padding-top:25px;

    width:100px;
    height:75px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    text-align:center;
}
#event-show td.date {
    color:#000;
    background:url(../images/info-clock.png) no-repeat 0px 8px;
    padding-left:20px;
    text-align:left;
}
#events-list .list article .time i {
    font-weight:bold;
    font-style:normal;
    font-family:Arial;
    font-size:24px;
    color:#000;
    width:80px;
    margin-left:10px;
    padding-top:10px;
    margin-top:5px;
    border-top:1px solid #000;
    display:block;
}
#events-list .list article .map {
    margin-top:10px;
    float:left;
    height:150px;
    margin-right:8px;
    -webkit-box-shadow: 0px 0px 5px #CCC;
    box-shadow: 0px 0px 5px #CCC;
}
#events-list .list article .map {
    overflow:hidden;
    border:8px solid #fff;
    border-radius:160px;
    -moz-border-radius:160px;
    -webkit-border-radius:160px;
    background:#fff;
}
#events-list .list article .map img {
    border-radius:150px;
    -moz-border-radius:150px;
    -webkit-border-radius:150px;
}
#events-list .list article > section {
    margin-top: 26px;
    width: 415px;
    min-height: 94px;
    padding: 10px;
    float: right;
    background: white;
    position: relative;
    -webkit-box-shadow: 0px 0px 2px #CCC;
    box-shadow: 0px 0px 2px #CCC;
}
#events-list .list article > section:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 53px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0px 0px 2px #CCC;
    box-shadow: 0px 0px 2px #CCC;
}
#events-list .list article > section:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 0px;
    width: 30px;
    height: 40px;
    background: white;
}
#events-list .list article > section * {
    position:relative;
    z-index: 2;
}
#events-list h3 a {
    color:#000;
}
#events-list .list article > section p {
    max-height:52px;
    min-height:52px;
    overflow:hidden;
}
#events-list .infobar {
    list-style:none;
    margin:0px;
    padding:0px;
    font-size:11px;
    color:#000 !important;
}

#events-list .infobar li {
    float:left;
    padding-left:18px;
    margin-right:15px;
}
#events-list .infobar .time-precise {
    background:url(../images/info-clock.png) no-repeat top left;
}
#events-list .infobar .author {
    background:url(../images/info-author.png) no-repeat top left;
}
#events-list .infobar .author a:after {
    content:',';
}
#events-list .infobar .author a:last-child:after {
    content:'';
}
#events-list .infobar .people {
    background:url(../images/info-people.png) no-repeat top left;
}
#events-list .infobar .tweets {
    background:url(../images/info-tweets.png) no-repeat top left;
}






#event-show {
    padding-top:20px;
    padding-bottom:20px;
}
#event-show .item {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px 0px;
}
#event-show .item article {
    float:left;
    position:relative;
    padding:0px 10px;
    margin-bottom:15px;
}
#event-show .item article:last-child {
    border:none;
}
#event-show .item article .map {
    margin-top:10px;
    float:left;
    height:300px;
    margin-right:8px;
    -webkit-box-shadow: 0px 0px 5px #CCC;
    box-shadow: 0px 0px 5px #CCC;
}
#event-show .item article .map {
    overflow:hidden;
    border:8px solid #fff;
    border-radius:160px;
    -moz-border-radius:160px;
    -webkit-border-radius:160px;
    background:#fff;
}
#event-show .item article .map img {
    border-radius:150px;
    -moz-border-radius:150px;
    -webkit-border-radius:150px;
}
#event-show img.image {
    float:left;
    border:5px solid #ebebeb;
    margin-right:10px;
    margin-bottom:10px;
    max-width:90px;
    max-height:90px;
}
#event-show .item article > section {
    margin-top: 26px;
    width: 570px;
    min-height: 260px;
    padding: 10px;
    padding-bottom:0px;
    float: right;
    background: white;
    position: relative;
    -webkit-box-shadow: 0px 0px 2px #CCC;
    box-shadow: 0px 0px 2px #CCC;
}
#event-show .item article > section:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 123px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0px 0px 2px #CCC;
    box-shadow: 0px 0px 2px #CCC;
}
#event-show .item article > section:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 118px;
    left: 0px;
    width: 30px;
    height: 40px;
    background: white;
}
#event-show .item article > section * {
    position:relative;
    z-index: 2;
}
#event-show .item article > section p {
    max-height:52px;
    min-height:52px;
    overflow:hidden;
}
#event-show .infobar {
    float:left;
    list-style:none;
    margin:0px;
    padding:0px;
    font-size:12px;
    color:#000 !important;
    margin-bottom:10px;
}
#event-show h1 {
    margin-bottom:5px;
}
#event-show hr {
    clear:both;
}

#event-show .infobar li {
    padding-left:18px;
    margin-right:15px;
}
#event-show .infobar .time-precise {
    background:url(../images/info-clock.png) no-repeat top left;
}
#event-show .infobar .author {
    background:url(../images/info-author.png) no-repeat top left;
}
#event-show .infobar .people {
    background:url(../images/info-people.png) no-repeat top left;
}
#event-show .infobar .place {
    background:url(../images/info-airplane.png) no-repeat top left;
}
#event-show .infobar .tweets {
    background:url(../images/info-tweets.png) no-repeat top left;
}
#event-show footer.lists {
    border-top:1px solid #ebebeb;
    background:whiteSmoke;
    width:570px;
    padding:10px;
    margin-left:-10px;
    margin-top:50px;
}
#event-show footer.lists .tabs {
    margin-top:-46px;
    border-color:#ebebeb;
}
#event-show footer.lists .tabs .active a {
    background:whiteSmoke;
}
#event-show #talks h5 {
    margin:0px;
    padding:0px;
    line-height:1;
    font-size:12px;
    font-weight:normal;
}
#event-show #talks td.name {
    vertical-align:top;
}
#event-show #talks td.time {
    vertical-align:top;
}
#event-show #talks td.tweets {
    padding-left:18px;
    vertical-align:top;
    background:url(../images/info-tweets.png) no-repeat -1px 8px;
}
#event-show #talks td.author {
    padding-left:18px;
    vertical-align:top;
    background:url(../images/info-author.png) no-repeat -1px 8px;
}
#event-show #talks td.name {
    width:60%;
}
#tweets .tweet .date {
    position:absolute;
    position: absolute;
    top:0px;
    right:0px;
    font-size:10px;
    color:#000;
}
#tweets .tweet {
    position:relative;
    border-bottom:1px solid #ebebeb;
    margin-bottom:10px;
}
#tweets .tweet img {
    position:absolute !important;
    left:0px;
    top:0px;
}
#tweets h5 {
    line-height:1;
    margin-bottom:5px;
    margin-left:56px;
}
#tweets p {
    margin-left:56px;
}
#event-show .item article .map .time {
    background:#fff;
    opacity:0.9;
    position:absolute;

    top:70px;
    left:70px;
    font-size:28px;
    color:#000;
    font-family:Nothing You Could Do;

    padding-top:75px;

    width:200px;
    height:125px;
    border-radius:200px;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    text-align:center;
}
#event-show .item article .map .time i {
    font-weight:bold;
    font-style:normal;
    font-family:Arial;
    font-size:44px;
    color:#000;
    width:180px;
    margin-left:10px;
    padding-top:20px;
    margin-top:10px;
    border-top:1px solid #000;
    display:block;
}
#form .columns form {
    padding:15px;
    width:700px;
    margin-left:120px;
    margin-top:20px;
    background:#fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
